<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Index</title>
</head>
<body>
{% if request.user %}
    <h1>Hello, {{ request.user.name }}</h1>
    <img src="{{ request.user.avatar_url }}" alt="Pic">
    <a href="/auth/logout">Logout</a>
{% else %}
    <a href="/auth/login">Sign in</a>
{% endif %}
</body>
</html>